:root{
    --primary : white;
}
.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn--primary{
    background: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}
.btn--outline{
    background: transparent;
    color: var(--primary);
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.5s ease-out;
}
.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
}
.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}
.btn--outline:hover{
    background: var(--primary);
    color: #242424;
}
.btn--primary:hover{
    background: #242424;
    color: var(--primary);
}
